.cover {
  width: 100%;
  position: relative;
  margin-bottom: 92px;
  background-color: rgba(42, 44, 47, 0.3);
}
.cover:before {
  content: "";
  background: url(../../image/cover-trains.jpg);
  background-position: center;
  position: absolute;
  background-size: cover;
  box-sizing: border-box;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
  opacity: 1;
}

.cover:hover:before {
  opacity: 0.3;
}

@media screen and (max-width: 1279px) {
  .cover {
    width: 100%;
  }
}
@media screen and (max-width: 1023px) {
  .cover {
    margin-bottom: 88px;
  }
}

@media screen and (max-width: 767px) {
  .cover {
    margin-bottom: 64px;
  }
}
