.lead__title {
  max-width: 720px;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
  margin: 0 auto 32px;

  box-sizing: content-box;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .lead__title {
    font-size: 55px;
    line-height: 64px;
    width: 64%;
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 650px) {
  .lead__title {
    font-size: 40px;
    line-height: 44px;
    max-width: 288px;
    width: 100%;
    margin-bottom: 16px;
  }
}
