.intro-text {
  margin: 0;
  padding: 40px 0 33px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
@media screen and (max-width: 767px) {
  .intro-text {
    padding: 40px 0 34px 0;
  }
}
