.header {
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
  width: 100%;
  margin: 0 auto 56px;
}
@media screen and (max-width: 1279px) {
  .header {
    margin-bottom: 48px;
    width: 91.1%;
  }
}
@media screen and (max-width: 1023px) {
  .header {
    margin-bottom: 41px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    margin-bottom: 48px;
  }
}
