.place__paragraph {
  margin: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
}
@media screen and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 26px;
  }
}
@media screen and (max-width: 767px) {
  .place__paragraph {
    padding-left: 16px;
  }
}
