.intro {
  max-width: 984px;
  width: 100%;
  margin: 0 auto 92px;
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
}
@media screen and (max-width: 1279px) {
  .intro {
    max-width: 928px;
  }
}
@media screen and (max-width: 1023px) {
  .intro {
    margin: 0 auto 88px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media screen and (max-width: 767px) {
  .intro {
    margin: 0 auto 64px;
    padding-left: 16px;
    padding-right: 18px;
  }
}
