.place__website {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;

  align-self: end;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding-bottom: 48px;
}
@media screen and (max-width: 767px) {
  .place__website {
    grid-column: 1;
    grid-row: 2;
    padding-left: 16px;
    padding-bottom: 32px;
  }
}
